/*The CSS float clear fix*/

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom:1; /*IE6 & 7*/
}

											/*Main website content 1440x900*/

html {
	font:  1em black;
	font-family: Arial, sans-serif;
}

body {
	margin: 0; 
	background-color: #B26451;
	
}

/* Banner */
.banner {
	font-size: 2em;
	height: 15.555555%; /*140 /900*/
	width:   93.75%; /* 1350 / 1440 */
	position: relative;
	top: 0px;
	left: 0px;
	display: block;
	margin: 01.041666%; /* 15 / 1440*/
	padding: 0.3496%; /* 5/ 1440 */
	background-color: #B26451;
}

/* Navigation */
nav ul {
	text-align: center;
}

nav li {
	display: inline;
	font: 1em black Arial,sans-serif;
}

/*                     Main content area                  */

main {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #B3FFE5;
}

#wrapper { /* 1440 x 900px */
	width: 100%;
	height: 72.222222%; /* 650px */
	margin: 0;
	padding: 0;
	border: 0;
	/*margin: 0px 5px 0px  5px; /* 5px /1440px */
	display: block;	
}

img {
	max-width: 100%;
}

.articleImg {
	width: 50%;
}

.content { /* total height = 650px, total width = 1000px */
	float: right;
	width: 62.888888%; /* 920 / 1440 */
	margin: .3472222222222222%; /* 5 / 1440 */
	padding: 10px; /* 10 / 1000 */
	}

/* Sidebar */

.sideBar { /* total height = 650px, total width = 440px */
	float: left;
	width: 29.166666%; /* 420 / 1440 */
	margin: .347222%; /* 5/ 1440 */
	padding: 2.222222%; /* 10 / 450 */
}

.sideImg {
	width: 50%;
}

/* Footer */

footer { /* total height = 100px, total width = 1440px */
	bottom: 0px;
	left: 0px;
	height: 8.888888%; /* 80 / 900*/
	width: 93.75%; /* 1350 / 1440 */
	padding: .704225%; /* 10 / 1420 */
	margin: .347222%; /* 5 / 1440 */
	display: block;
}



/*                 Media Queries                     */

/* < 320 width */

@media screen and (max-width: 320px) {
	body {
		font-size: 100%;
	}
	
	#wrapper {
		/*width: 280px; */
		min-height: 100%;
	}
	
	.content {
		float: none;
		width: inherit;
		}
	
	.sideBar {
		float: none;
		width: inherit;
	}
}

@media screen and (max-width: 550px) {
		
	nav ul {
		font-size: 75%;
	}
	#wrapper {
		min-height: 100%;
	}
	.content {
		float: none;
		width: inherit;
		margin: 5px;
	}
	
	.sideBar {
		float: none;
		width: inherit;
	}
	
}

@media screen and (max-width: 730px) {
	
	#wrapper {
		padding: 0px 10px 0px 10px;
		width: 90%;
	}
	
	.content {
		float: none;
		width: inherit;
	}

	.sideBar {
		float: none;
		width: inherit;
	}
