<section class="blog" ng-controller="BlogController as blog">
    
    <div class="blogContent">
        
        <article ng-repeat="post in blog.posts | limitTo: 2">
            <h1>{{post.title}}</h1>
            <h4>{{post.author}}</h4>
            <h5>{{post.createdOn | date}}</h5>
            <p>{{post.body[0]}}</p>
        </article>
        
    </div>
</section>
<section class="sidebar" ng-controller="BlogController as blog">
    <p>In this blog I will talk about my ongoing projects. The main one I'm working on is a bit nerdy... An epic level character generator and calculator to be used when we get around to an epic campaign in D&D.</p>
    <!--
    <ul>
        <li ng-repeat="post in blog.posts"><a href=""/>{{post.title}}</a></li>
    </ul>
    -->
</section> 
